body {
    background-color: #f6f6fa;
    padding: 40px 40px 40px 40px;
    font-family: 'Montserrat', sans-serif;
}

ol, ul{
    margin-top: 0;
    margin-bottom: 0;
}

.wrapper {
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;    
}

.main-content {
    padding: 80px 80px 40px 80px;
    box-sizing: border-box;
}

aside {
    background-color: #E0EBFE;
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
    width: 370px;
}

.personal-info {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

.contacts-title {
    color: #161d2a;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 8px;
}

.contacts-type {
    color: #161d2a;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-right: 8px;
}

.contacts-link {
    color: #4e7bd0;
    font-size: 14px;
    line-height: 24px;
    text-decoration-line: underline;
}

.contacts-item {
    margin-top: 0;
    margin-bottom: 4px;
}

.contacts-container {
    margin-bottom: 40px;
}

.skills-container {
    margin-bottom: 40px;
}

.skills-title {
    color: #161d2a;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 8px;
}

.skills-list {
    padding-left: 16px;
}

.skills-item {
    color: #161d2a;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.languages-container {
    margin-bottom: 40px;
}

.languages-title {
    color: #161d2a;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 8px;
}

.languages-list {
    padding-left: 16px;
}

.languages-item {
    color: #161d2a;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.my-profession {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    margin-top: 0px;
    margin-bottom: 8px;
}

.my-name {
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
    margin-top: 0;
    margin-bottom: 12px;
}

.about-me {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.my-info {
    margin-bottom: 40px;
}

.my-projects-title {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    margin-top: 0;
    margin-bottom: 8px;
}

.my-projects-item {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

.my-projects-list {
    padding-left: 17px;
}

.my-projects-item-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
    color: #4e7bd0;
}

.my-projects-item-tech {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.my-projects-container {
    margin-bottom: 40px;
}

.certifications-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    margin-bottom: 8px;
    margin-top: 0;
}

.certifications-company {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 12px;
}

.certifications-container {
    margin-bottom: 25px;
}

.company-name {
    color: #6d9bf5;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 12px;
}

.certifications-period {
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    margin-bottom: 8px;
}

.certifications-period-separator {
    color: #000000;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    margin-bottom: 8px;
}

.certifications-list {
    padding-left: 16px;
}

.certifications-links {
    color: #000000;
    padding-left: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.certificate-item-link {
    color: #4e7bd0;
}


.education-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    margin-bottom: 8px;
    margin-top: 40px;
}

.education-place {
    color: #6d9bf5;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 8px;
}

.education-subject {
    font-size: 14px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0px;
}

.education-period {
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    margin-bottom: 8px;
}

.education-period-separator {
    color: #000000;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    margin-bottom: 8px;
}

.education-container {
    margin-bottom: 25px;
}